@import '../node_modules/bootstrap/scss/bootstrap.scss';

:local(.root) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:local(.boardContainer) {
    flex-grow: 1;
}


:local(.board) {
    border: 1px solid #ccc;
}

:local(.node) {
    fill: #dd3;
    stroke: #e95;
    stroke-width: 2px;
    cursor: pointer;

    &:hover {
        stroke-width: 5px;
    }
}

:local(.path) {
    stroke-width: 20px;
}
